.player-container {
  height: 100vh;
  text-align: center;
  /* overflow: hidden; */
}

.cover-img {
  height: 75vh;
}
.cover-img img {
  height: 75vh;
}

.info-panel {
  height: 25vh;
  padding: 1.5rem;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  font-size: 2.5rem;
  padding: 0.3rem;
}
